* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header_logo {
  width: 300px;
  height: 300px;
}

.header_text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin-right: auto;
  align-items: center;
}
.articles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article-box {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.article-img {
  width: 150px;
  height: auto;
  object-fit: cover;
}
.article-content {
  padding: 20px;
  position: relative;
  flex: 1;
}
.votes-comments-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f9f9f9;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #111;
}
